<% if transactions.present? %>
<table class="table index">
  <thead>
  <tr>
    <th>Account</th>
    <th>Booking date</th>
    <th>Amount</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr class="<%= transaction.amount < 0 ? 'debit' : 'credit' %> <%= transaction.is_new and 'new' %>" data-href="<%= url_for(transaction) %>">
        <td>
          <%= new_badge if transaction.is_new? %>
          <%= transaction.account.name %>
        </td>
        <td class="date"><%= l(transaction.booking_date.to_date) %></td>
        <td class="money"><%= amount_to_currency(transaction.amount, :unit => transaction.account.currency) %></td>
        <td class="text"><%= transaction.details %></td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr class="<%= transactions.map(&:amount).sum < 0 ? 'debit' : 'credit' %>">
      <td colspan="2" class="date"><%= transactions.map(&:booking_date).min.strftime "%d.%m.%Y" %> - <%= transactions.map(&:booking_date).max.strftime "%d.%m.%Y" %></td>
      <td class="money"><%= amount_to_currency transactions.map(&:amount).sum, :unit => transactions.first.account.currency %></td>
      <td colspan="99"></td>
    </tr>
  </tfoot>

</table>

<% else %>
  <p>
    No transactions present.
  </p>
<% end %>